.datalocation-card{
	padding: 4vmin 4vmin 4.5vmin 4vmin;
	background-color: $mainOrange;
	color: #fff;
	margin-bottom: 2.5vmin;

	&__header{
		display: flex;
		margin-bottom: 2vmin;
	}

	&__icon{
		width: 4.5vmin;
		overflow: hidden;
		margin-right: 1vmin;

		img{
			object-fit: cover;
			width: 100%;
		}
	}

	&__title{
		font-family: 'Product Sans', sans-serif;
		font-weight: 700;
		font-size: 2.4vmin;
	}

	&__content{
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li{
			font-family: 'Roboto', sans-serif;
			font-size: 1.6vmin;
			position: relative;
			padding-left: 2vmin;
			&:not(:last-child){
				margin-bottom: 2vmin;
			}

			&::after{
				content: '';
				height: .08vmin;
				width: .08vmin;
				background: $black;
				border-radius: 100%;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}