.feature-highlight-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: .1rem solid #484848;
	@include respond(tab-port){
		border-right: .1vmin solid #484848;
		border-bottom: none;
	}

	&__image-container{
		width: 3.4rem;
		margin: 0 0 2rem;
		@include respond(tab-port){
			width: 5vmin;
			margin: 0 0 2.3vmin;
		}
	}

	&__title{
		font-size: 1.4rem;
		font-weight: 500;
		color: #fff;
		margin: 0 0 .8rem;
		@include respond(tab-port){
			font-size: 1.4vmin;
			margin: 0 0 1.2vmin;
		}
	}

	&__description{
		color: #fff;
		font-weight: 400;
		font-size: 2.2rem;
		margin: 0;
		@include respond(tab-port){
			font-size: 2.4vmin;
		}
	}
}
