.site-main{
    figure{
        margin: 0;
    }
    .about-page-banner{
        @include respond(tab-land){
            padding: 7vmin 0 0;
        }
        .page-banner-content{
            p{
                margin: 0 0 1.5vmin;
            }
            .btn--orange {
                max-width: none;
                height: auto;
                display: inline-block;
                text-transform: capitalize;
                padding: 1.2vmin 3.5vmin;
                .fas{
                    margin: 0 0 0 1vmin;
                }
            }
        } 
    }
    
    .welcom-section{
        padding: 3vmin 0;
        .section-header{
            margin: 0 0 2vmin;
            &__title, &__decoration-element{
                margin: 0;
            }
        }
        .welcome-content{
            p{
                margin: 0 0 2vmin;
                &:last-child{
                    margin: 0;
                }
            }
        }
        .thumbnail-img{
            img{
                width: 90%;
            }
        }
    }
    
    .ceo-detail{
        padding: 5vmin 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        position: relative;
        color: #fff;
        .thumbnal-img {
            text-align: right;
            img{
                width: 75%;
            }
        }
        .ceo-content {
            padding: 0 8vmin;
            h1{
                font-size: 3.2vmin;
                font-weight: 400;
                margin: 0 0 3vmin;
                span{
                    display: block;
                    font-weight: 700;
                    padding: 1.5vmin 0 0;
                }
            }
            p{
                font-size: 2.2vmin;
                line-height: 4vmin;
            }
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: $darkGrey, $alpha: .95);
        }
    }

    .quick-fact{
        padding: 3vmin 0;
        .quick-fact-inner-content{
            background: $mainOrange;
            padding: 3.5vmin 12vmin 1vmin;
            margin: 0 7.5vmin;
            color: #fff;
            .section-header{
                margin: 0 0 1vmin;
            }
            .section-header__title{
                color: #fff;
            }
            .section-header__decoration-element{
                &::after{
                    background-color: #fff;
                    transform: inherit;
                    margin-left: -35%;
                }
            }
            .quick-fact-block {
                text-align: center;
                margin: 0 0 3vmin;
                .quick-fact-icon {
                    width: 6vmin;
                    height: 6vmin;
                    border: 1px solid #fff;
                    border-radius: .6vmin;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto 1.5vmin;
                    img{
                        width: 60%;
                    }
                }
                h3{
                    font-size: 2.2vmin;
                    font-weight: 500;
                    padding: 0 5vmin;
                }
            }
        }
    }

    .our-locations{
        padding: 2vmin 0;
        .section-header{
            margin: 0 0 1vmin;
            &__title{
                margin: 0 0 .5vmin;
            }
        }
        .thumbnail-img{
            text-align: center;
            img{
                width: 100vmin;
            }
        }
        .location-detail{
            text-align: center;
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                    display: inline-block;
                    text-align: left;
                    position: relative;
                    padding: 0 5vmin 0 5.5vmin;
                    vertical-align: top;
                    margin: 0 0 2vmin;
                    .location-marker {
                        width: 4vmin;
                        height: 4vmin;
                        position: absolute;
                        top: -.1vmin;
                        left: 0;
                        background: #000;
                        &.usa{
                            background: rgb(255,99,110);
                            background: linear-gradient(145deg, rgba(255,99,110,1) 0%, rgba(255,64,111,1) 100%);
                        }
                        &.germany{
                            background: rgb(116,151,243);
                            background: linear-gradient(145deg, rgba(116,151,243,1) 0%, rgba(133,110,244,1) 100%);
                        }
                        &.philippines{
                            background: rgb(140,198,240);
                            background: linear-gradient(145deg, rgba(140,198,240,1) 0%, rgba(140,145,240,1) 100%);
                        }
                        &.austria{
                            background: rgb(255,200,83);
                            background: linear-gradient(145deg, rgba(255,200,83,1) 0%, rgba(255,161,87,1) 100%);
                        }
                        &.ukraine{
                            background: rgb(226,70,240);
                            background: linear-gradient(145deg, rgba(226,70,240,1) 0%, rgba(140,70,240,1) 100%);
                        }
                    }
                    h3{
                        margin: 0;
                        font-size: 1.4vmin;
                        font-weight: 400;
                        span{
                            text-transform: uppercase;
                            font-weight: 800;
                            font-size: 1.8vmin;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .speak-with-expert{
        padding: 2vmin 0;
        background: rgba($color: #000000, $alpha: .03);
        text-align: center;
        .section-header{
            margin-bottom: 3vmin;
            &__title{
                margin: 0 0 .5vmin;
            }
            .section-header__decoration-element{
                &::after{
                    background-color: #1a1a1a;
                    transform: inherit;
                    margin-left: -35%;
                }
            }
            .section-header__sub-title{
                font-weight: 400;
            }
        }
        .btn--orange{
            max-width: none;
            height: auto;
            display: inline-block;
            text-transform: inherit;
            font-size: 2.4vmin;
            max-height: none;
            font-family: 'Product Sans', sans-serif;
            padding: 1.5vmin 5.3vmin;
        }
    }
}

// @media(min-width:1680px){
//     .site-main{
//         .welcom-section,.our-locations{
//             padding: 0;
//         }
//         .ceo-detail {
//             padding: 3.3vmin 0;
//             .thumbnal-img{
//                 img {
//                     width: 75%;
//                 }
//             } 
//             .ceo-content {
//                 padding-top: 2vmin;
//                 padding-bottom: 2vmin;
//             }
//         }
//         .quick-fact {
//             padding: 2vmin 0;
//             .quick-fact-inner-content{
//                 .section-header {
//                     margin: 0 0 1vmin;
//                 }
//                 .quick-fact-block {
//                     margin: 0 0 2vmin;
//                 }
//             } 
//         }
//         .speak-with-expert {
//             padding-bottom: 10vmin;
//         }
//     } 
// }