
.contact-page-banner{
    @include respond(tab-port){
        padding: 15vmin 0 7vmin;
    }
    .page-banner-content{
        p{
            margin: 0;
        }
    }
}

.wpcf7-form .wpcf7-form-control-wrap{
    position: unset!important;
}
.site-main{
    .services-section{
        [class^="col-"]:not(:last-child){
            .service-block{
                @include respond(mobile){
                    margin: 0 0 2rem;
                }
            }
        }
        .service-block{
            padding: 2rem;
            border-radius: .5rem;
            color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            @include respond(tab-port){
                padding: 4vmin;
                border-radius: .5vmin;
                background-size: 19vmin;
                &.block-1{
                    .service-icon-box{
                        img{
                            width: 52%;
                        }
                    }
                }
                &.block-2{
                    .service-icon-box{
                        img{
                            width: 55%;
                        }
                    }
                }
                &.block-3{
                    .service-icon-box{
                        img{
                            width: 47%;
                        }
                    }
                }
            }
            .service-icon-box {
                height: 7rem;
                width: 7rem;
                background: #fff;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0 2rem;
                @include respond(tab-port){
                    height: 8vmin;
                    width: 8vmin;
                    margin: 0 0 2vmin;
                }
            }
            h3{
                font-family: 'Product Sans', sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 .8rem;
                font-size: 1.8rem;
                @include respond(tab-port){
                    font-size: 1.8vmin;
                    margin: 0 0 1.2vmin;
                }
            }
            p{
                margin: 0 0 1.5rem;
                @include respond(tab-port){
                    font-size: 1.4vmin;
                    margin: 0 0 2.2vmin;
                }
            }
            .btn--orange{
                text-transform: inherit;
                justify-content: center;
                @include respond(tab-port){
                    padding: .8vmin 2.2vmin;
                    max-width: 12.8vmin;
                }
                .fas {
                    margin: 0 0 0 1rem;
                    @include respond(tab-port){
                        margin: 0 0 0 1vmin;
                    }
                }
            }
            &.block-1{
                background-color: #982890;
            }
            &.block-2{
                background-color: #4591DA;
                .btn--orange{
                    background: #000;
                }
            }
            &.block-3{
                background-color: #284970;
            }
        }
    
    }
    
    .conatct-form-setion{
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $darkGrey;
        padding: 3rem 0;
        @include respond(tab-port){
            padding: 0;
        }
        .get-in-touch{
            color: #fff;
            @include respond(mobile){
                margin: 0 0 2rem;
            }
            .section-header__title{
                position: relative;
                padding-bottom: .8rem;
                margin: 0 0 1.5rem;
                @include respond(tab-port){
                    padding-bottom: 2vmin;
                    margin: 0 0 3vmin;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 4rem;
                    border-bottom: .3rem solid $mainOrange;
                    @include respond(tab-port){
                        width: 4.5vmin;
                        border-bottom-width: .5vmin;
                    }
                }
            }
            p{
                margin: 0 0 2rem;
                @include respond(tab-port){
                    font-size: 1.8vmin;
                    padding: 0 8vmin 0 0;
                    margin: 0 0 7vmin;
                }
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style-type: none;
                    @include respond(mobile){
                        &:not(:last-child){
                            margin: 0 0 1.5rem;
                        }
                    }
                    @include respond(tab-port){
                        position: relative;
                        margin: 0 0 3vmin;
                        padding: 0 0 0 7vmin;
                    }
                    .touch-icon{
                        @include respond(mobile){
                            width: 2.8rem;
                            margin: 0 0 1rem;
                        }
                        @include respond(tab-port){
                            position: absolute;
                            top: 1vmin;
                            left: 0;
                            width: 7.5%;
                        }
                    }
                    &:nth-of-type(2){
                        .touch-icon{
                            @include respond(tab-port){
                                width: 8.8%;
                            }
                        }
                    }
                    &:last-child{
                        .touch-icon{
                            @include respond(tab-port){
                                width: 9.1%;
                            }
                        }
                    }
                    h3{
                        font-size: 1.4rem;
                        font-weight: 300;
                        line-height: 2.2rem;
                        @include respond(tab-port){
                            font-size: 2vmin;
                            line-height: 3.2vmin;
                        }
                        span{
                            display: block;
                            font-size: 1.2rem;
                            font-weight: 700;
                            color: $mainOrange;
                            @include respond(tab-port){
                                font-size: 1.6vmin;
                            }
                        }
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        .contact-form{
            background: #fff;
            padding: 2rem;
            @include respond(tab-port){
                padding: 8vmin 9vmin;
                margin: 0 0 0 2vmin;
            }
            .form-group{
                margin-bottom: 1.5rem;
                @include respond(tab-port){
                    margin-bottom: 1.8vmin;
                }
            }
            .form-control{
                font-size: 1.4rem;
                height: 4rem;
                border: none;
                background: #F5F5F5;
                padding: 1rem 1.5rem;
                border-radius: .3rem;
                font-weight: 300;
                color: $darkGrey;
                @include respond(tab-port){
                    font-size: 1.5vmin;
                    height: 5.2vmin;
                    padding: 1.5vmin 1.2vmin;
                    border-radius: .3vmin;
                }
            }
            textarea.form-control{
                resize: none;
                height: 14rem;
                @include respond(tab-port){
                    height: 14.4vmin;
                }
            }
            .captcha {
                text-align: center;
                img {
                    @include respond(tab-port){
                        width: 33%;
                    }
                }
            }
            .btn-center{
                text-align: center;
                @include respond(tab-port){
                    margin: 5vmin 0 0;
                }
                .btn--orange{
                    display: inline-block;
                    text-transform: capitalize;
                    @include respond(tab-port){
                        font-size: 2vmin;
                        padding: 1.1vmin 3.8vmin;
                    }
                    .fas{
                        margin: 0 0 0 1rem;
                        @include respond(tab-port){
                            font-size: 1.4vmin;
                            margin: 0 0 0 0.3vmin;
                        }
                    }
                }
            }
        }
    }
}