.nonslider-page{
    margin-top: 124px;
}
header.entry-header.u-txt-center{
    padding-bottom:4.5vmin;
}
.entry-title{
    font-size: 4vmin;
    margin: 0 auto 1vmin;
    font-family: "Product Sans", sans-serif;
    font-weight: 700;
    color: inherit;
    text-align: center;
}
.nonslider-page .post-thumbnail{
    margin: 0px 20px 20px 0px;
    float: left;

    font-size: 1.8vmin;
    line-height: 3.4vmin;
}
.carosel-navigation-custom{
    width: 100%;
    color: #ff8800;
    padding:0px 3px;
    height: 35px;
    padding-right: 2%;
}
.carosel-navigation-custom .carousel-control-next, .carousel-control-prev{
    color: #ff8800;
    font-size: 22px;
    position: relative!important;
    float: right;
    transition: none;
    font-size: 2.6vmin;
    opacity: 1;
    width: 35px;
}

.carosel-navigation .carousel-control-next:hover, .carousel-control-prev:hover{
    color: #ff8800;
}

#server-details-table-scroll-view #bmc-pills-tabContent{
    max-height: 750px;    
    overflow-x: hidden;
    overflow-y: scroll;    
}

#server-details-table-scroll-view #bmc-pills-tabContent::-webkit-scrollbar{width:8px;}
#server-details-table-scroll-view #bmc-pills-tabContent::-webkit-scrollbar-thumb{background-color:#ffce95;}