.datacenter-location{
	background-color: $black;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 12rem;
	padding-bottom: 12rem;

	@include respond(small){
		padding-top: 13rem;
		padding-bottom: 13rem;
	}

	@include respond(tab-port){
		padding-top: 14rem;
		padding-bottom: 14rem;
	}

	@include respond(tab-land){
		padding-top: 17rem;
		padding-bottom: 15rem;
	}
}