.dg-server-banner{
    .page-banner-content {
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            li{
                list-style: none;
                padding: 0 .2rem;
                img{
                    width: auto;
                 }
                @include respond(tab-port){
                    padding: 0 1vmin;
                    img{
                       width: 100%;
                    }
                }
            }
        }
    }
}

.game-server-section{
    padding: 3rem 0;
    @include respond(tab-port){
        padding: 8vmin 0;
    }
    .game-server-content {
        @include respond(tab-port){
            padding: 0 2vmin 0 0;
        }
    }
    .game-server-block {
        @include respond(mobile){
            &:not(:last-child){
                margin: 0 0 2rem;
            }
        }
        @include respond(tab-port){
            margin-left: 4vmin;
        }
    }
}

.game-room-section{
    height: 22rem;
    @include respond(tab-port){
        height: calc(100vh - 34vmin);
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
} 

.get-game-server {
    @include respond(tab-port){
        padding: 3vmin 0;
    }
}