.header-navigation .menu {
    margin: 0;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    justify-content: center;

    > .current-menu-item > a,
    > .current_page_item > a {
        color: $mainOrange!important;
    } 

    > .menu-item {
        margin: 0 2vmin;
        @include respond(tab-land){
            padding: 2vmin 0;
        }
        padding: 2vmin 0;
        > a {
            border-bottom: none;
            display: block;
            color: #292828;
            transition: 0.2s color ease;
            font-size: 1.4vmin;
            text-decoration: none;
            letter-spacing: .025vmin;
        }
        &:hover a, &.open > a {
            color: $mainOrange;
        }
        > .sub-menu {
            position: absolute;
            list-style-type: none;
            background: $mainOrange;
            left: 0;
            top: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            transition: all .3s ease;
            > li{
                margin: 0;
                padding: 0;
                > a{
                    color: #fff;
                    text-decoration: none;
                    img{
                        height: 4.2vmin;
                    }
                }
            }
        }
        &:hover{
            > .sub-menu {
                visibility: visible;
                opacity: 1;
            }
        } 
    }

}

.header-navigation .menu ul li{
    padding: 1vmin;
    margin: 1vmin;
}
.header-navigation .menu ul li a:hover{
    color:#000;
}
// Header Mobile Navigation

.header-mobile-navigation{
    height: 100%;
}


.header-mobile-navigation .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100%;
        list-style: none;
        padding: 0;

    > .menu-item {
        margin: 0;
        &:not(:last-child){
            margin-bottom: 1.8vmin;
        }
        > a {
            border-bottom: none;
            display: block;
            color: $darkGrey;
            transition: 0.2s color ease;
        }
        &:hover a, &.open > a {
            color: $mainOrange;
        }
    }

} 