.header-navigation .menu {
    margin: 0;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;

    > .menu-item {
        margin: 0;
        &:not(:last-child){
            margin-right: 20px;
        }
        > a {
            border-bottom: none;
            display: block;
            color: $darkGrey;
            transition: 0.2s color ease;
        }
        &:hover a, &.open > a {
            color: $mainOrange;
        }
        > .sub-menu {
            position: absolute;
            margin: 0;
            list-style: none;
            background: #fff;
            display: none;
            min-width: 200px;
            border: 1px solid #efefef;
            border-top-color: #fff;
            z-index: 10;
        }
    }
    > .menu-item {
        .sub-menu {
            .sub-menu {
                position: absolute;
                margin: 0;
                list-style: none;
                background: #fff;
                display: none;
                min-width: 200px;
                left: 100%;
                font-size: 100%;
                top: 0px;
                border-top-color:#efefef;
            }
            .menu-item {
                margin: 0;
                position: relative;
                a {
                    border-bottom: 1px solid #efefef;
                    display: block;
                }
                &:hover > a {
                    color: #ffffff;
                }
            }
        }
    }
    .menu-item.open > .sub-menu {
        display: block !important;
    }

}

// Header Mobile Navigation

.header-mobile-navigation{
    height: 100%;
}


.header-mobile-navigation .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 100%;
        list-style: none;
        padding: 0;

    > .menu-item {
        margin: 0;
        &:not(:last-child){
            margin-bottom: 18px;
        }
        > a {
            border-bottom: none;
            display: block;
            color: $darkGrey;
            transition: 0.2s color ease;
        }
        &:hover a, &.open > a {
            color: $mainOrange;
        }
    }

} 