.large-banner{
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 90vh;
	width: 100%;

	&__container{
		@include absCenter;
		min-width: 80vw;
		text-align: center;
	}

	&__heading{
		font-family: "Product Sans", sans-serif;
		font-weight: 700;
		font-size: 3.4rem;
		margin-bottom: 2rem;
		text-align: center;
		color: #fff;

		@include respond(small){
			font-size: 4.8rem;
			margin-bottom: 2.5rem;
		}

		@include respond(tab-port){
			font-size: 6rem;
			margin-bottom: 2.5rem;
		}
	}

	&__CTA-container{
		display: flex;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond(small){
			max-width: 435px;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0;
		}
	}

	&__features{
		margin-top: 7rem;
	}

	&__features-list{
		display: flex;
		justify-content: center;
		list-style: none;
	}

	&__features-item{
		font-size: 1.8rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		color: #fff;
		&:not(:last-child){
			margin-right: 3rem;
		}

		.fas{
			margin-right: 7px;
			color: $mainOrange;
		}
	}
}