.pressAnnouncement-page-banner{
    background: $darkGrey;
    padding: 10rem 0 0;
    .page-banner-content{
        .large-banner__heading{
            margin: 0;
        }
        p{
            margin: 0 0 2.5rem;
        }
        .btn--orange, .btn--white{
            max-width: none;
            max-height: none;
            height: auto;
            margin: 0 1.2rem;
            padding: 1.2rem 4rem;
        }
        .btn--white{
            padding: 1.2rem 3.3rem;
            color: $mainOrange;
            &:hover{
                color: #fff;
            }
        }
    }
}

.press-release{
    padding: 4rem 0;
    .section-header {
        margin-bottom: 2rem;
    }
    .press-relase-block{
        margin: 0 0 3.4rem;
        .thumbnail-img{
            height: 26.3rem;
            overflow: hidden;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .press-relase-content {
            padding: 0 0 0 4.5rem;
            h2{
                font-family: "Product Sans", sans-serif;
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 3rem;
                margin: 0 0 1.5rem;
            }
            h4{
                font-size: 1.6rem;
                color: $mainOrange;
                margin: 0 0 1rem;
                i{
                    margin-right: 1rem;
                    position: relative;
                    top: -.2rem;
                }
            }
            p{
                font-size: 1.5rem;
                line-height: 3rem;
                font-weight: 300;
                margin: 0 0 1.5rem;
            }
            .btn--orange{
                max-width: none;
                max-height: none;
                height: auto;
                padding: 1.1rem 3.7rem;
                text-transform: capitalize;
                display: inline-block;
            }
        }
        &:last-child{
            margin: 0;
        }
        &:nth-of-type(even){
            .press-relase-content {
                padding: 0 4.5rem 0 0;
            }
        }
    }
}

.award-section{
    padding: 10rem 0 18rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .wrapper{
        overflow: visible;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $darkGrey, $alpha: .8);
    }
    .section-header{
        position: relative;
        margin: 0 0 10rem;
        .section-header__title{
            color: #fff;
        }
    }
    .awards-block {
        background: #fff;
        text-align: center;
        border-radius: .5rem;
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, .61);
        padding: 5rem;
        min-height: 47.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
        .awards-block-content{
            position: relative;
            z-index: 1;
        }
        .award-logo {
            height: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 3.5rem;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        h3{
            font-size: 2.4rem;
            font-family: "Product Sans", sans-serif;
            font-weight: 700;
            line-height: 3.1rem;
            padding: 0 2rem;
            min-height: 6rem;
            display: flex;
            align-items: center;
            margin: 0 0 3rem;
        }
        .btn--orange{
            max-width: none;
            max-height: none;
            height: auto;
            padding: 0.9rem 2.3rem;
            text-transform: capitalize;
            display: inline-block;
            font-size: 1.6rem;
            box-shadow: none;
        }
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background: #fff;
            border-radius: .5rem;
            transition: all .2s ease;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
        }
        &:hover{
            h3{
                color: #fff;
            }
            .btn--orange{
                background: #fff;
                color:$mainOrange;
                &:hover{
                    background: $darkGrey;
                }
            }
            &::before{
                background: $mainOrange;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
            }
        }
    }
}