.ds-form-order-section{
    .ds-register{
        @include respond(tab-port){
            .section-header{
               margin: 0;
               &__title{
                   line-height: 1;
               }
               &__sub-title{
                   margin: 0 0 .2vmin;
               }
            }
            .form-group{
                margin-bottom: .4vmin;
            }
        } 
    }
}