.section-customer{
	padding-top: 5rem;
	padding-bottom: 5rem;

	@include respond(small){
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@include respond(tab-port){
		padding-top: 10rem;
		padding-bottom: 0rem;
	}

	@include respond(tab-land){
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	&__content{
		margin-top: 4rem;
	}
}