.server-features{
	padding: 3rem 0;
	@include respond(tab-port){
		padding: 8vmin 0;
	}
	.section-header{
		@include respond(tab-port){
			margin: 0 0 2vmin; 
		}
	}

	&__text{
		font-weight: 500;
		margin-bottom: 1.5rem;
		@include respond(tab-port){
			font-size: 1.7vmin;
			margin-bottom: 3.5vmin;
		}
	}

	&__list{
		list-style: none;
		padding: 0;
		margin: 0;
		font-weight: 500;
		@include respond(tab-port){
			font-size: 1.5vmin;
		}
	}

	&__item{
		margin-bottom: 1.5rem;
		position: relative;
		padding-left: 4rem;
		@include respond(tab-port){
			padding-left: 5vmin;
			margin-bottom: 3vmin;
		}
		img{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);	
			width: 3.2rem;
			object-fit: cover;
			@include respond(tab-port){
				width: 4vmin;
			}
		}
	}

	&__image-container{
		text-align: center;
		img{
			@include respond(tab-port){
				width: 100%;
			}
		}
	}
}
