@mixin header-on-scroll{
	border-top-width: 0;
	border-bottom-width: .1vmin;
	.inner-head-wrapper{
		padding: .4vmin 0;
	}
	.site-header__logo{
		img{
			@include respond(tab-land){
				width: 60%;
			}
		}
		// width: 17.5vmin;
	}
	.header-navigation{
		.menu{
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0; 
		}
	} 
	.btn--orange{
		font-size: 1.2vmin;
		padding: .5vmin 1.4vmin;
		.btn-icon{
			width: 1.8vmin;
		}
	} 
	&::before{
		border-bottom-width: .1vmin;
	}
}

.site-header {
	border-bottom: .3vmin solid $mainOrange;
	background: #fff;
	transition: .05s all ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	border-top: 2.5vmin solid $darkGrey;
	&.site-header--on-scroll{
		@include header-on-scroll;
	}
	&::before {
		content: "";
		border-bottom: .3vmin solid $mainOrange;
		display: block;
	}
	.inner-head-wrapper{
		padding: .8vmin 0;
	}

	.container {
		padding-top: .7vmin;
		padding-bottom: .7vmin;
	}

	&__logo {
		// width: 17.5vmin;
		// overflow: hidden;

		// @include respond(tab-land) {
		// 	width: 23vmin;
		// }

		img {
			// object-fit: cover;
			height: auto;
			width: 45%;
			@include respond(tab-land){
				width: 81%;
			}
		}
	}

	.btn--orange{
		padding: .7vmin 1vmin;
		max-width: none;
		max-height: none;
		height: auto;
		box-shadow: none;
		margin: 0;
		.btn-icon{
			margin: 0;
		}
		@include respond(tab-land){
			padding: 1.1vmin 2.45vmin;
			max-width: none;
			max-height: none;
			height: auto;
			box-shadow: none;
			.btn-icon {
				margin-right: 1vmin;
			}
		}
	}

	&__menu-icon {
		width: 2vmin;
		height: 1.9vmin;
		position: relative;
		z-index: 2;
		margin-left: .7vmin;

		@include respond(tab-land) {
			display: none;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 2vmin;
			background-color: $mainOrange;
			height: .3vmin;
			transform-origin: 0 0;
			transition: transform 0.4s ease-out;
		}

		&__middle {
			position: absolute;
			top: .8vmin;
			left: 0;
			width: 2vmin;
			background-color: $mainOrange;
			height: .3vmin;
			transition: all 0.4s ease-out;
			transform-origin: 0 0;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 2vmin;
			background-color: $mainOrange;
			height: .3vmin;
			transform-origin: 0 100%;
			transition: transform 0.4s ease-out;
		}
	}

	&__menu-icon--close-x {
		&::before {
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__mobile-menu-content {
		display: none;
		transform: scale(1.2);
		text-align: center;
		transition: all 0.3s ease-out;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: #fafafa;
		border-bottom: .3vmin solid $mainOrange;

		&--is-visible {
			transform: scale(1);
			display: block;
			z-index: 2;
		}
	}
	// @include respond(big-desktop){
	// 	// position: fixed;
	// 	// top: 0;
	// 	// left: 0;
	// 	// z-index: 999;
	// 	// width: 100%;
	// 	// border-top: 2.5vmin solid $darkGrey;
	// 	&--on-scroll{
	// 		@include header-on-scroll;
	// 	}
	// }

}
