.site-header {
  border-bottom: 3px solid $mainOrange;
  position: relative;
  z-index: 3;

  .container {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &::before {
    content: "";
    border-bottom: 3px solid $mainOrange;
    display: block;
    height: 25px;
    width: 100%;
    background-color: $black;
  }

  &__logo {
    width: 175px;
    overflow: hidden;

    @include respond(small) {
      width: 230px;
    }

    img {
      object-fit: cover;
    }
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: relative;
    z-index: 2;
    margin-left: 7px;

    @include respond(tab-land) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      background-color: $mainOrange;
      height: 3px;
      transform-origin: 0 0;
      transition: transform 0.4s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      background-color: $mainOrange;
      height: 3px;
      transition: all 0.4s ease-out;
      transform-origin: 0 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 20px;
      background-color: $mainOrange;
      height: 3px;
      transform-origin: 0 100%;
      transition: transform 0.4s ease-out;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__mobile-menu-content {
    display: none;
    transform: scale(1.2);
    text-align: center;
    transition: all 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
    border-bottom: 3px solid $mainOrange;

    &--is-visible {
      transform: scale(1);
      display: block;
      z-index: 1;
    }
  }
}
