.site-footer{
	background-color: $black;
	color: #fff;
	padding: 2vmin 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .3vmin 0;
	z-index: 999;
	&.site-inner-footer{
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	// @include respond(big-desktop){
	// 	position: fixed;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	padding: .3vmin 0;
	// 	z-index: 999;
	// }

	&__content{
		display: flex;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		// @include respond(tab-land){
		// 	flex-direction: row;
		// }
	}

	&__btn-container{
		display: flex;
		.btn--orange{
			height: auto;
			max-height: none;
			max-width: none;
			padding: .6vmin 2.2vmin;
			text-transform: capitalize;
			font-size: 1.6vmin;
			.btn-icon{
				margin: 0;
			}
			&:last-child{
				padding: .6vmin 1.3vmin;
			}
		}
	}
}

.payment-methods{
	display: flex;
	align-items: center;
	margin: 0 3vmin 0 0;

	// @include respond(tab-land){
	// 	display: flex;
	// 	align-items: center;
	// 	margin: 0 3vmin 0 0;
	// }
	// @include respond(screen-md-laptop){
	// 	margin: 0 2vmin 0 0;
	// }

	&__title{
		font-family: 'Product Sans', sans-serif;
		font-size: 1.6vmin;
		font-weight: 700;
		display: flex;
		margin: 0 1vmin 0;
		text-align: left;
		flex-direction: column
		// @include respond(tab-land){
		// 	display: flex;
		// 	flex-direction: column;
		// 	margin: 0 1vmin 0;
		// 	text-align: left;
		// }
	}

	&__list{
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
	}

	&__item{
		width: 4.5vmin;

		img{
			height: 3vmin;
			object-fit: cover;
		}

		&:not(:last-child){
			margin-right: .5vmin;
		}
	}
}

.us-support{
	position: relative;
	padding-left: 5vmin;
	margin: 0 3vmin 0 0;

	// @include respond(tab-land){
	// 	margin: 0 3vmin 0 0;
	// }

	// @include respond(screen-md-laptop){
	// 	margin: 0 2vmin 0 0;
	// }

	&__title{
		font-family: 'Product Sans', sans-serif;
		font-size: 1.6vmin;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
	}

	&__text{
		font-size: 1.4vmin;
		margin: 0;
	}

	&__icon-container{
		position: absolute;
		left: 0;

		.fas{
			font-size: 3.5vmin;
		}
	}
}

.support-links{
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 3vmin 0 0;

	// @include respond(tab-land){
	// 	margin: 0 3vmin 0 0;
	// }
	// @include respond(screen-md-laptop){
	// 	margin: 0 2vmin 0 0;
	// }

	&__item{
		&:not(:last-child){
			margin-right: 1vmin;
		}
	}

	&__title{
		font-family: 'Product Sans', sans-serif;
		font-size: 1.2vmin;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__link{
		font-size: 1vmin;
		line-height: 1vmin;
		display: block;
		color: #fff;
		max-width: 15vmin;

		// @include respond(tab-port){
		// 	max-width: 15vmin;
		// }
		// @include respond(screen-md-laptop){
		// 	max-width: 13vmin;
		// }

		&:hover{
			color: inherit;
		}
	}
}

#fp-nav.fp-right{
	ul{
		li{
			a{
				outline: none;
				&:hover,&:focus{
					outline: none;
				}
				span{
					background: $mainOrange;
					&:hover,&:focus{
						outline: none;
					}
				}
			} 
		} 
	} 
}