
/*
.site-main .page-wrap{
    margin: 80px auto;
}

.woocommerce{
    margin: 25px auto;
}

.pages-inner{
    margin: 90px auto 0px;
}

.success_message{
    color:rgb(3, 172, 59);
}

.error_message{
    color:rgb(201, 25, 25);
}

.woocommerce-MyAccount-navigation ul{
    padding: 0px;
    margin: 0px;
}
.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border: 1px dashed #ccc;
    padding: 9px;
    margin: 5px;
}


.alert {
    display: none;
}
  
.error {
    color: #e74c3c;
}

#checkoutfield p{
    width: 47%;
    clear: none!important;
}

#checkoutfield p label{
    width: 100%;
}

#checkoutfield p #billing_country_field{
    float:right;
} 
#checkoutfield p #billing_country_field{
    float:right;
} 
.payment_method_cod label{ color: #000; } 
.woocommerce-privacy-policy-text p{ color: #000; }
#place_order {
    background-color: #329ADC;
    padding: 10px 20px;
}
*/

.shopping-cart-link{
    background: url(../images/shop_cart.png) no-repeat;
    height: 58px;
    width: 66px;
    
}

@media(min-width:1680px){
   
}