.row{
	@include respond(tab-port){
		margin-right: -1.55vmin;
		margin-left: -1.55vmin;
	}
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	@include respond(tab-port){
		padding-right: 1.55vmin;
		padding-left: 1.55vmin;
	}
}

*,
*::before,
*::after {
  	box-sizing: border-box;
}

html {
	font-size:10px;
	scroll-behavior: smooth;

	// @include respond(tab-land){
	//   font-size:56.25%;
	// }
	// @include respond(big-desktop){
	//   font-size:62.5%;
	// }
}

body {
	font-size: 1.4rem;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.8;
	color: $darkGrey;
	@include respond(tab-port){
		font-size: 1.6vmin;
	}
}

img {
	max-width: 100%;
	height: auto;
}

p:empty{
	display: none;
}

a {
	font-weight: 400;
	color: $mainOrange;
	text-decoration: none;
	&:focus, &:focus-visible{
		outline: none;
		outline-offset: none;
	}
	&:hover{
		color: $darkGrey;
	}
}

:focus {
  	outline: 2px solid $mainOrange;
}
::selection {
	background: $mainOrange;
	color: #ffffff;
}
::-moz-selection {
	background: $mainOrange;
	color: #ffffff;
}

.fp-section{
	@include respond(mobile){
		display: block;
		table-layout: auto;
		height: auto !important;
	}
	.fp-tableCell{
		@include respond(mobile){
			vertical-align: top;
			display: block;
			height: auto !important;
		}
	}
}

.check-list-group{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        padding-left: 3rem;
		@include respond(tab-port){
			padding-left: 3vmin;
		}
    }
    &.black-check{
        li{
            background: url(../images/check-black.png) no-repeat top .4rem left;
			@include respond(tab-port){
				background-position: top .4vmin left;
			}
        }
    }
    &.orange-check{
        li{
            background: url(../images/check.png) no-repeat top .4rem left;
			@include respond(tab-port){
				background-position: top .4vmin left;
				background-size: 3.4%;
			}
        }
    }
    &.white-check{
        li{
            background: url(../images/check-white.png) no-repeat top .4rem left;
			@include respond(tab-port){
				background-position: top .4vmin left;
				background-size: 3.8%;
			}
        }
    }
}

.orange--list{
	margin: 0;
	padding: 0;
	li{
		list-style-type:none;
		font-weight: 500;
		color: $mainOrange;
		position: relative;
		line-height: initial;
		padding-left: 1.5rem;
		margin: 0 0 .7rem;
		@include respond(tab-port){
			font-size: 2vmin;
			padding-left: 1.9vmin;
			margin: 0 0 1.5vmin;
		}
		&::before{
			content: '';
			position: absolute;
			top: .4rem;
			left: 0;
			width: .8rem;
			height: .8rem;
			border-radius: 100%;
			background: $darkGrey;
			@include respond(tab-port){
				top: .8vmin;
				width: .8vmin;
				height: .8vmin;
			}
		}
		&:last-child{
			margin: 0;
		}
	}
	&.black-check{
		li{
			padding-left: 2.6rem;
			background: url(../images/check-black.png) no-repeat top left;
			@include respond(tab-port){
				padding-left: 3vmin;
				background-position: top .4vmin left;
				background-size: 3.4%;
			}
			&::before{
				display: none;
			}
		}
	}
	&.white{
		li{
			&::before{
				background: #fff;
			}
		}
	}
	&.reverse{
		li{
			@include respond(tab-port){
				padding: 0 1.9rem 0 0;
				padding: 0 1.9vmin 0 0;
				&::before{
					left: auto;
					right: 0;
				}
			}
		}
	}
}

.form-label {
	@include respond(tab-port){
		line-height: initial;
		font-size: 1.4vmin;
	}
	.required{
		color: #329ADC;
	}
}

.form-group{
	margin-bottom: 1rem;
	@include respond(tab-port){
		margin-bottom: 1.5vmin;
	}
}

.form-control{
	height: 4.2rem;
	font-size: 1.4rem;
	font-weight: 400;
	border-radius: .5rem;
	background: rgba($color: #000000, $alpha: .03);
	border: none;
	padding: .6rem 1.5rem;
	color: $darkGrey;
	&::-webkit-input-placeholder{
		color: rgba($color: #000000, $alpha: .45);
	}
	@include respond(tab-port){
		height: 4.2vmin;
		font-size: 1.4vmin;
		border-radius: .5vmin;
		padding: .6vmin 2vmin;
	}
	&:focus{
		box-shadow: none;
		background: rgba($color: #000000, $alpha: .03);
		color: $darkGrey;
	}
}



