@mixin  clearfix{
    &::after{
        display: table;
        clear: both;
        content: '';
    }
}

@mixin  absCenter {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}

@mixin respond($breakpoint) {
    @if $breakpoint == small{
        @media (min-width: 576px) {
			@content;
		}
    }

    @if $breakpoint == tab-port{
        @media (min-width: 768px) {
			@content;
		}
    }

    @if $breakpoint == tab-land{
        @media (min-width: 992px) {
			@content;
		  }
    }

    @if $breakpoint == big-desktop{
        @media (min-width: 1200px) {
			@content;
		  }
    }
    @if $breakpoint == screen-md-laptop{
        @media (max-width: 1200px - 1px) and (min-width: 992px) {
			@content;
        }
    }
    @if $breakpoint == large-desktop{
        @media (min-width: 1680px) {
			@content;
        }
    }
    @if $breakpoint == mobile{
        @media (max-width: 767px) {
			@content;
        }
    }
}